@use '../styles/neumorphism/neumorphism.scss';

.spacer {
    flex: 1 1 auto;
}

.links {
    padding-left: 0;
}

.link {
    margin-bottom: 0.25rem;
    cursor: default;
}

li {
    cursor: pointer;
    list-style-type: none;
}

.card {
    border-radius: 10px;
    background-color: transparent;
    border: 0.0625rem solid rgba(243, 247, 250, 0.05);
    border-radius: 0.55rem;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff !important;
    cursor: pointer;
}

.rounded-image {
    border-radius: 0 10px 10px 0 !important;
}

button{
    border-radius: 5px;
}