<div class="container">
    <h4 class="mb-0">Games</h4>
    <ul class="links">
        <li class="link my-4" *ngFor="let game of games">
            <mat-card class="card my-2" (click)="onLinkClick(game.url)">
                <mat-card-title-group>
                    <mat-card-title class="p-2"><h5>{{ game.name }}</h5></mat-card-title>
                    <mat-card-subtitle class="p-2"><p>{{ game.description }}</p></mat-card-subtitle>
                    <img class="rounded-image" src="{{ game.img }}" alt="" mat-card-md-image/>
                </mat-card-title-group>
            </mat-card>

            <div *ngIf="game.source">
                <button mat-flat-button color="primary" (click)="onLinkClick(game.source)">Source</button>
            </div>
        </li>
    </ul>
</div>