@use '../../styles/neumorphism/neumorphism.scss';

.spinner {
    position: fixed;
    inset: 0;
    margin: auto;
}

section, main, mat-paginator{
    background-color: #e6e7ee;
    font-weight: 300;
    line-height: 1.5;
    color: #44476a;
}

.container {
    overflow: hidden;
    max-width: none;
}

.card-text {
    font-size: 14px;
}

.border-none {
    border-color: transparent;
}
