@use '../../styles/neumorphism/neumorphism.scss';

section, main, mat-paginator{
    background-color: #e6e7ee;
    font-weight: 300;
    line-height: 1.5;
    color: #44476a;
}

.container {
    overflow: hidden;
    max-width: none;
}

.card-text {
    font-size: 14px;
}

a.underline-link {
    text-decoration: underline;
}
