<div class="col-12 col-md-6 col-lg-4 mb-5" *ngFor="let post of posts$ | async">
    <div class="card bg-primary border-light shadow-soft">
        <img src="{{ post.thumbnail || defaultThumbnail}}" class="card-img-top rounded-top" alt="...">
        <div class="card-body">
            <div class="media d-flex align-items-center justify-content-between">
                <div *ngIf="post.categories" class="post-group">{{ post.categories.join()}}</div>
                <div class="d-flex align-items-center"><span class="small"><span
                            class="far fa-calendar-alt mr-2"></span>{{post.date}}</span></div>
            </div>
            <h5 class="h5 card-title mt-3">{{ post.title }} </h5>
            <p class="card-text">{{post.article}}</p>
            <!-- <a [routerLink]="[post.id]" class="btn btn-primary btn-sm">Learn More</a> -->
        </div>
    </div>
</div>