@use '../styles/neumorphism/neumorphism.scss';

.section {
    background-color: #e6e7ee;
    font-weight: 300;
    line-height: 1.5;
    color: #44476a;
}

.lead {
    font-size: 1.25rem;
}

.script-font {
    font-family: "Brush Script MT", cursive;
    font-size: 200%;
}

.icon-box .icon {
    background-color: gray;
    color: white;
}

.toggle-button {
    width: 60px;
    height: 60px;
    border-radius: 50% !important;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) !important;
}

.toggle-icon {
    font-size: 30px;
}

:host ::ng-deep .mat-button-toggle-button:focus {
    outline: none;
}