<div class="container">
    <ul class="links">
        <li class="link my-4" *ngFor="let site of sites">
            <mat-card class="black-card" (click)="onLinkClick(site.url)">
                <mat-card-title-group>
                    <mat-card-title class="black-card p-2">{{ site.name }}</mat-card-title>
                    <mat-card-subtitle class="black-card p-2">{{ site.description }}</mat-card-subtitle>
                    <img class="rounded-image" src="{{ site.img }}" alt="" mat-card-md-image/>
                </mat-card-title-group>
            </mat-card>
        </li>
    </ul>
</div>