<div class="container">
    <h4 class="mb-0">Sites</h4>
    <ul class="links">
        <li class="link my-4" *ngFor="let site of sites">
            <mat-card class="card my-2" (click)="onLinkClick(site.url, site.isBlank)">
                <mat-card-title-group>
                    <mat-card-title class="p-2">
                        <h5>{{ site.name }}</h5>
                    </mat-card-title>
                    <mat-card-subtitle class="p-2">
                        <p>{{ site.description }}</p>
                    </mat-card-subtitle>
                    <img class="rounded-image" src="{{ site.img }}" alt="" mat-card-md-image />
                </mat-card-title-group>
            </mat-card>

            <div *ngIf="site.source">
                <button mat-flat-button color="primary" (click)="onLinkClick(site.source)">Source</button>
            </div>

        </li>
    </ul>
</div>